@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: lighter;
    font-style: normal;
    // outline: 1px solid red;
}

$font: "Montserrat";

$size: 36px;

$style: normal;

$weight: lighter;

$border: 2px solid #724DF0;




